header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    user-select: none;
    transition: all ease-in-out 0.3s;
    display: flex;
}

header nav {
    width: 100%;
    max-width: var(--max-width);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    padding: 15px 10px 15px 25px;
}

header .logo {
    font-size: 1.6rem;
    color: rgb(73, 116, 255);
    font-weight: 700;
}

header .logo i {
    color: var(--primary);
    font-size: 40px;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li a {
    font-size: 0.9rem;
    margin: 0 12px;
    color: rgb(73, 116, 255);
    transition: all ease 0.3s;
    text-transform: capitalize;
    font-size: 18px;
}

header ul div a {
    font-size: 0.9rem;
    margin: 0 12px;
    color: rgb(73, 116, 255);
    transition: all ease 0.3s;
    text-transform: capitalize;
    font-size: 18px;
}

header ul li a:is(:hover, .active) {
    color: var(--primary);
}

header nav .menu_btn {
    font-size: 1.8rem;
    cursor: pointer;
    color: var(--main);
    display: none;
}

.menu_header {
    display: flex;
    float: right;
    padding: 0 0 0 30px;
}

header div ul {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

li:hover .sub-menu {
    z-index: 1;
    opacity: 1;
}

.sub-menu {
    width: 300px;
    padding: 5px 0px;
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: -1;
    opacity: 0;
    transition: opacity linear 0.15s;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
    background: #2e2728;
    display: block !important;
    align-items: center !important;
    margin-left: 750px;
}

.sub-menu li {
    display: block;
    font-size: 16px;
}

.sub-menu li a {
    padding: 10px 30px;
    display: block;
}

.sub-menu li a:hover,
.sub-menu .current-item a {
    background: #3e3436;
}


/* Responsive */
@media (max-width: 650px) {
    header nav {
        justify-content: space-between;
    }

    header ul {
        position: absolute;
        top: 80%;
        left: 0;
        background: var(--bg-main);
        display: block;
        width: 100%;
        box-shadow: 2px 20px 30px var(--shadow-color);
        transition: all ease-in-out 0.3s;
        height: 0px;
        overflow: hidden;
    }

    header ul li a {
        display: block;
        padding: 20px 15px;
        border-bottom: 1px solid var(--border-color);
    }

    header nav .menu_btn {

        display: block;
    }

}