.banner-item {
    vertical-align: middle;
    margin-top: 100px;
    height: 250px;
    width: 100%;
    display: flex;
    object-fit: cover;
    background-image: linear-gradient(rgb(252, 170, 187), rgb(241, 241, 241), rgb(236, 236, 236), rgb(188, 238, 210), rgb(70, 70, 119), rgb(105, 73, 128), rgb(238, 176, 238));
}

.giohang {
    margin: 0 400px;
    margin-top: 20px;
    font-size: 13px;
}

.giohang h4 {
    color: var(--c-1684829417589, #721b65);
}

.item-giohang {
    display: flex;
}

.count-giohang-item {
    display: flex;
}

.thanhtien {
    margin-left: 700px;
}

.item-thanhtien {
    display: flex;
}

.count-giohang {
    margin-left: 50px;
    width: 40%;

}

.thanhtien {
    margin-top: 10px;
}

.soluong {
    display: flex;
    margin: 10px 0 0 20px;
}