<app-header></app-header>
<div class="banner-item">
    <div style="float: left; width: 50%; vertical-align: middle; padding: 100px 100px 100px 350px;">
        <h2>THANH TOÁN</h2>
    </div>
    <div style="float: right; width: 30%; background-image: url(../../assets/img/banner.png);">
    </div>
</div>
<div class="thanhtoan">
    <div class="thanhtoan-item">
        <h4>THANH TOÁN</h4>
        <hr>
        <div class="item">
            <div class="item1">
                <div class="item1-1">
                    <i class="fa-solid fa-location-dot" style="margin: 12px 10px 0 0 ;"></i>
                    <p>THÔNG TIN KHÁCH HÀNG</p>
                </div>
                <div class="item1-2">
                    <div class="itemfrom">
                        <p class="title"> NGƯỜI MUA HÀNG</p>
                        <P class="title">NGƯỜI NHẬN HÀNG</P>
                    </div>
                    <div class="itemfrom">
                        <input type="text" class="form-control" aria-label="Small"
                            aria-describedby="inputGroup-sizing-sm" placeholder="DANG THI PHUONG THANH"
                            style="width: 50%; font-size: 14px;">
                        <input type="text" class="form-control" aria-label="Small"
                            aria-describedby="inputGroup-sizing-sm" placeholder="HỌ VÀ TÊN"
                            style="width: 50%; font-size: 14px;">
                    </div>
                    <div class="itemfrom">
                        <input type="text" class="form-control" aria-label="Small"
                            aria-describedby="inputGroup-sizing-sm" placeholder="thanh.dang@bstarsolutions.com"
                            style="width: 50%; font-size: 14px;">
                        <input type="text" class="form-control" aria-label="Small"
                            aria-describedby="inputGroup-sizing-sm" placeholder="Số điện thoại"
                            style="width: 50%; font-size: 14px;">
                    </div>
                    <div class="itemfrom">
                        <input type="text" class="form-control" aria-label="Small"
                            aria-describedby="inputGroup-sizing-sm" placeholder="0867757702"
                            style="width: 46%; font-size: 14px;">
                        <div style="display: flex; width: 50%; margin-left: 30px;">
                            <i class="fa-regular fa-copy" style="margin: 10px 5px; "></i>
                            <p style="font-size: 13px;">Sử dụng thông tin người dùng mua hàng</p>
                        </div>
                    </div>
                    <div class="itemfrom">
                        <div style="display: flex; width: 50%; margin-left: 30px;">
                            <p style="font-size: 12px;  color: #288ad6;">* Bạn có muốn nhận trực tiếp tại cửa hàng
                                không?</p>
                            <div class="form-check" style="margin: 10px 5px; ">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                            </div>

                        </div>
                    </div>
                    <div class="itemfrom">
                        <p class="title">ĐỊA CHỈ NHẬN HÀNG</p>
                        <P class="title">HÌNH THỨC GIAO HÀNG</P>
                    </div>
                    <div class="itemfrom">
                        <input type="text" class="form-control" aria-label="Small"
                            aria-describedby="inputGroup-sizing-sm" placeholder="Địa chỉ"
                            style="width: 50%; font-size: 14px;">
                        <div style="width: 50%; margin-top: 10px; background-color: #fff3cd; padding: 10px 15px;
                            color: #856404; border: 1px solid #fff3cd; border-radius: 5px; font-size: 13px;">
                            Vui lòng chọn địa chỉ giao hàng
                        </div>
                    </div>
                    <div class="itemfrom">
                        <select class="form-select form-select-sm mb-3" id="city" aria-label=".form-select-sm"
                            (change)="changeCity($event)">
                            <option value="00" selected>---Chọn tỉnh thành---</option>
                            <option *ngFor="let city of citys; let i= index" value={{city.Id}}>{{city.Name}}</option>
                        </select>
                    </div>
                    <div class="itemfrom">
                        <select class="form-select form-select-sm mb-3" id="city" aria-label=".form-select-sm"
                            (change)="changeDistrits($event)">
                            <option value="" selected>---Chọn Quận/Huyện---</option>
                            <option *ngFor="let district of districts; let i= index" value={{district.Id}} selected>
                                {{district.Name}}
                            </option>
                        </select>
                    </div>
                    <div class="itemfrom">
                        <select class="form-select form-select-sm mb-3" id="city" aria-label=".form-select-sm">
                            <option value="" selected>---Chọn phường/xã--- </option>
                            <option *ngFor="let ward of wards; let i= index" value={{ward.Id}} selected>
                                {{ward.Name}}
                            </option>
                        </select>
                    </div>

                </div>
                <div class="item1-1">
                    <i class="fa-solid fa-location-dot" style="margin: 12px 10px 0 0 ;"></i>
                    <p>HÌNH THỨC THANH TOÁN</p>
                </div>
                <div class="item1-2">
                    <div style="width: 50%; margin-top: 10px; background-color: #cde9ff; padding: 10px 15px;
                    color: #856404; border: 1px solid #fff3cd; border-radius: 5px; font-size: 13px;">
                        Thanh toán khi nhận hàng
                    </div>

                </div>
            </div>
            <div class="item2">
                <div class="item1-1">
                    <i class="fa-solid fa-cart-arrow-down" style="margin: 12px 10px 0 0 ;"></i>
                    <p>THÔNG TIN ĐƠN HÀNG</p>
                </div>
                <div class="item1-2">
                    <div style="display: flex;">
                        <img src="" alt="" width="40px" height="40px">
                        <div class="item-tt">
                            <p style="font-weight: 700;">Đồ chơi gậy coton (21cm)</p>
                            <p style="color: red;">21cm</p>
                            <p style="color: #288ad6;">Uu đãi trong ngày, -8.250đ</p>
                        </div>
                        <p style="margin: 0 50px; color: red;">1x</p>
                        <div class="item-tt">
                            <p><del>165.000đ</del></p>
                            <p style="color: red; font-size: 14px;">156.750đ</p>
                        </div>
                    </div>
                    <div>
                        <hr>
                    </div>
                    <div style="background-color: rgb(238, 236, 236); border-radius: 5px;">
                        <div class="thanhtien">
                            <p style="width: 50%;">Tạm tính</p>
                            <p style="width: 50%; color: red; margin-left: 200px; font-size: 16px;">156.750đ</p>
                        </div>

                        <div class="thanhtien">
                            <p style="width: 50%;">Phí vận chuyển</p>
                            <p style="width: 50%; color: red; margin-left: 200px; font-size: 16px;">----------</p>
                        </div>

                        <div class="thanhtien">
                            <p style="width: 50%; font-weight: 700;">Thành tiền</p>
                            <p style="width: 50%; color: red; margin-left: 200px; font-weight: 600; font-size: 16px;">
                                156.750đ</p>
                        </div>
                    </div>
                    <div style="margin-top: 20px; text-align: center;">
                        <div class="form-outline mb-4">
                            <textarea class="form-control" id="textAreaExample6" rows="3"></textarea>
                        </div>
                        <button style="width: 100%; background-color: #288ad6; border-radius: 10px; height: 40px;">Thanh
                            Toán</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>