<app-header></app-header>
<div class="banner-item">
    <div style="float: left; width: 50%; vertical-align: middle; padding: 100px 100px 100px 350px;">
        <h2>GIỚI THIỆU</h2>
    </div>

    <div style="float: right; width: 30%; background-image: url(../../assets/img/banner.png);">
    </div>

</div>
<div class="item-giơithieu">
    <div class="item1">
        <img
            src="https://demo037127.web30s.vn/image-process/get-image-v3?path=/datafiles/web30s/upload/images/7101-7200/30S-03-7127/2.png" />
    </div>
    <div class="item2">
        <p class="item2-p">GIỚI THIỆU</p>
        <h2>PT2000 - Hệ thống siêu thị thú cưng</h2>
        <p>Với kinh nghiệm hơn 5 năm hoạt động trong thị trường thú cưng, ARALE PETSHOP chuyên cung cấp tất cả các đồ
            dùng, thức ăn, phụ kiện cho chó, mèo.</p>
        <p>Luôn cung cấp hàng hóa chất lượng, với giá cạnh tranh nhất thị trường. Luôn lắng nghe khách hàng và tư vấn
            nhiệt tình nhất để mang đến sự thoải mái khi mua hàng tại shop hay mua hàng qua mạng.</p>
        <p>Với phương châm mang đến cho các bạn thú cưng chó mèo có một cuộc sống tốt đẹp nhất, chúng tôi không ngưng
            tìm hiểu và trau dồi các sản phẩm đang phân phối để đáp ứng kịp nhu cầu phát triển của các bạn thú cưng và
            thị hiếu của các cô cậu chủ</p>
    </div>
</div>
<div class="item3">
    <p>ĐỘI NGŨ</p>
    <h2>Nhân viên chuyên nghiệp</h2>
    <div class="product-sp">
        <div class="container d-flex justify-content-center mt-100">
            <div class="row">

                <div class="col-md-3">
                    <div class="product-wrapper mb-45 text-center">
                        <div class="product-group">
                            <div class="product-img">
                                <a>
                                    <img class="product-img-item"
                                        src="https://demo037127.web30s.vn/datafiles/34980/upload/images/banner/doctor3.jpg?t=1684722123"
                                        alt="">
                                </a>
                            </div>
                            <div class="product-name">
                                <p>Penny Oleksiak</p>
                                Bác sĩ thú y
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-3">
                    <div class="product-wrapper mb-45 text-center">
                        <div class="product-group">
                            <div class="product-img">
                                <a>
                                    <img class="product-img-item"
                                        src="https://demo037127.web30s.vn/datafiles/34980/upload/images/banner/doctor4.jpg?t=1684722123"
                                        alt="">
                                </a>


                            </div>
                            <div class="product-name">
                                <p>Harley Hemsworth</p>
                                Bác sĩ thú y
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-3">
                    <div class="product-wrapper mb-45 text-center">
                        <div class="product-group">
                            <div class="product-img">
                                <a>
                                    <img class="product-img-item"
                                        src="https://demo037127.web30s.vn/datafiles/34980/upload/images/banner/doctor1.jpg?t=1684722123"
                                        alt="">
                                </a>


                            </div>
                            <div class="product-name">
                                <p>Miley Kenny</p>
                                Bác sĩ thú y
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-3">
                    <div class="product-wrapper mb-45 text-center">
                        <div class="product-group">
                            <div class="product-img">
                                <a>
                                    <img class="product-img-item"
                                        src="https://demo037127.web30s.vn/datafiles/34980/upload/images/banner/doctor2.jpg?t=1684722123"
                                        alt="">
                                </a>

                            </div>
                            <div class="product-name">
                                <p>Jhon Anderson</p>
                                Bác sĩ thú y
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
<div class="item4">
    <div class="item4-div">
        <div class="item4-img"><img
                src="https://demo037127.web30s.vn/datafiles/34980/upload/images/banner/f4.png?t=1685431804" alt="">
        </div>
        <div class="item4-div-group">
            <h6>Hỗ trợ 24/7</h6>
            <p>Tư vấn, giải quyết mọi vấn đề</p>
        </div>
    </div>
    <div class="item4-div">
        <div class="item4-img"><img
                src="https://demo037127.web30s.vn/datafiles/34980/upload/images/banner/f3.png?t=1685431773" alt="">
        </div>
        <div class="item4-div-group">
            <h6>Hỗ trợ đổi trả</h6>
            <p>Trong vòng 7 ngày</p>
        </div>
    </div>
    <div class="item4-div">
        <div class="item4-img"><img
                src="https://demo037127.web30s.vn/datafiles/34980/upload/images/banner/f2.png?t=1685431741" alt="">
        </div>
        <div class="item4-div-group">
            <h6>Thanh toán đa dạng</h6>
            <p>Ví Momo, ZaloPay, Mastercard...

            </p>
        </div>
    </div>
    <div class="item4-div">
        <div class="item4-img"><img
                src="https://demo037127.web30s.vn/datafiles/34980/upload/images/banner/f1.png?t=1685431698" alt="">
        </div>
        <div class="item4-div-group">
            <h6>Miễn phí giao hàng</h6>
            <p>Với đơn hàng từ 500K</p>
        </div>
    </div>
</div>
<app-footer></app-footer>