<section id="home" class="banner">

    <img class="image" src="https://raw.githubusercontent.com/devat-youtuber/travel-nextjs13beta-images/main/bn1.jpg" />
    <div class="box">
        <strong>
            Explore the World <i class="fa-solid fa-globe"></i>
        </strong>
        <h1>Its a Big Word Out There, go Explore</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis,
            perspocoatis!
        </p>
        <a href="#">Explore Now</a>
    </div>
</section>